- var br = '<br />'
section.gift-descr
  .gift-descr__title
    h2 Дополнительные комплименты в мобильном приложении Afimall
  ul(class="gift-descr__list")
    li(data-aos="zoom-in-up")
      .gift-descr__img-item
        .gift-descr__icon-item
      |Годовые и месячные абонементы на посещение!{br}
      |фитнес-клуб «5 Элемент»
    li(data-aos="zoom-in-up")
      .gift-descr__img-item
        .gift-descr__icon-item
      |Сертификаты, аксессуары, сувениры и игрушки!{br}
      |от Kanzler, Gant и Lapin House
