- var br = '<br />'
header.main-header
  img.main-logo(src="img/logo.png")
  .tiangle 
    .trinagle-wrapper 
    .trinagle-text только!{br} в апреле
  img.women(src="img/women.png")
  img.age(src="img/age.png")
  h1 Дарим больше!
  p Тройные баллы за покупку на третьем этаже
