- var br = '<br />'
section.take-gift
  h1 Хотите утроить баллы?
  .take-gift__btn
    a(href="https://itunes.apple.com/ru/app/afimall-city/id880093759?mt=8" data-aos="fade-right").apple-btn.ga-appstore.byyd
      img(src="img/apple-store.png")
    a(href="https://play.google.com/store/apps/details?id=com.afimall.apps.android&hl=ru" data-aos="fade-left").google-btn.ga-googleplay.byyd
      img(src="img/google-play.png")
  ul.take-gift__list
    li
      | Покупайте в магазинах третьего этажа 
      | с 01 по 30 апреля 2017 года в 
      | ТРЦ «АФИМОЛЛ Сити» на сумму от 500 руб. 
      | (минимальная сума одного чека 500 руб);

    li
      | Загрузите чеки (в течение 72 часов с момента 
      | совершения покупки) в мобильное 
      | приложение Afimall;
    li
      | Активируйте выбранные комплименты;
    li
      | Получайте призы в магазинах!{br} 
      | и на стойке информации.
  .take-gift__about
    p Подробные условия акции
    a(href="Условия акции.docx").take-gift__bnt-doc.ga-promo.byyd здесь
  .take-gift__video
    <iframe src="https://www.youtube.com/embed/KUtpmk84DTU" frameborder="0" allowfullscreen></iframe>
  img(src="img/gift.png").take-gift__gift
